.share{
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px -6px rgba(0,0,0,0.74); 
box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px -6px rgba(0,0,0,0.74);
}

.shareWrapper{
    padding: 10px;
}
.shareTop {
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    background-color: whitesmoke;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px
}

.shareBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shareOptions{
    display: flex;
    justify-content: center;
    width: 100%;
}


.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px !important;
    margin-right: 5px;
}

.shareOptionText{
    font-size: 16px;
    font-weight: 500;
}

.shareButton{
    border: none;
    width: 100px;
    padding: 7px 15px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0);
}
.share{
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px -6px rgba(0,0,0,0.74); 
box-shadow: 0px 10px 13px -7px #000000, 0px 1px 28px -6px rgba(0,0,0,0.74);
}

.shareWrapper{
    padding: 10px;
}
.shareTop {
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    background-color: whitesmoke;
}

.shareInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px
}

.shareBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shareOptions{
    display: flex;
    justify-content: center;
    width: 100%;
}


.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px !important;
    margin-right: 5px;
}

.shareOptionText{
    font-size: 16px;
    font-weight: 500;
}

.shareButton{
    border: none;
    width: 100px;
    padding: 7px 15px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 0px 0px rgba(0,0,0,0);
}
